<!-- <app-header></app-header> -->
<div class="blue-box row">
    <div class="box-data col-md-8">
 
        <h1 style="font-weight: 600; font-size: 39px;">
          Contact Us
        </h1>
       
      </div>
    
</div>
<div class="row" style="margin-left: 20px;">
<div class="custom-card" >
    <div class="custom-card-body">
      <h5 class="custom-card-title">Find us</h5>
      <p >
        743A, Gera’s Imperium Rise, Hinjewadi Phase II, Rajiv Gandhi Infotech Park, Near Wipro Circle, Pune- 411057, Maharashtra, India
      </p>
    </div>
  </div>

  <div class="custom-card" >
    <div class="custom-card-body">
      <h5 class="custom-card-title">Email us</h5>
      <p class="custom-card-text">
        <p>info&#64;sterlingtechnolabs.com</p>
        <p>sales&#64;sterlingtechnolabs.com</p>
      
    </div>
  </div>

  <div class="custom-card" >
    <div class="custom-card-body">
      <h5 class="custom-card-title">Phone support</h5>
      <p>USA +1 707 670 3003</p>
      <p>UK +44 020 3290 5155</p>
      <p>AUS +61 07 3040 5995</p>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->